
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
	font-family: "Outfit", sans-serif, !important;
	color: #111111;
	background: #ffffff;
}

ul{
	padding: 0;
	margin: 0;
}
ul li{
	list-style: none;
}

a{
	text-decoration: none;
}


/*Typography*/

h1,h2,h3,h4,h5,h6,p{
	margin: 0;
}

h1{
	font-size: 52px;
	font-weight: 600;
}

h2{
	font-size: 42px;
	font-weight: 600;
}

h3{
	font-size: 32px;
	font-weight: 600;
}

h4{
	font-size: 24px;
	font-weight: 600;
}

h5{
	font-size: 18px;
	font-weight: 600;
}

h6{
	font-size: 15px;
	font-weight: 600;
}

p{
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
	color: #404040;
}


/*colors*/

.color_primary{
	color: #181D3D !important;
}
.color_secondary{
	color: #F65364 !important;
}
.color_text{
	color: #404040 !important;
}
.color_accent{
	color: #B63442 !important;
}
.color_lightgrey{
	color: #F9F9F9 !important;
}
.color_darkgrey{
	color: #DFDDDD !important;
}
.color_white{
	color: #FFFFFF !important;
}
.color_lightgrey_2{
	color: #F5EEE9 !important;
}
.color_black{
	color: #111111 !important;
}




/*btn*/
.btn_fill{
	background: #F65364;
    color: #fff !important;
    border-color: #F65364;
    border-radius: 3px;
    font-weight: 600;
}
.btn_fill:hover{
	background: #181D3D;
	transition: 0.5s;
	color: #fff;
}

.btn_fill_lg{
    font-size: 18px !important;
    padding: 12px 24px;
    border-radius: 3px;
}
.btn_fill_md{
    font-size: 14px !important;
    padding: 12px 16px;
    border-radius: 3px;
}
.btn_fill_sm{
    font-size: 12px !important;
    padding: 12px 16px;
    border-radius: 3px;
}



.btn_outline{
	background: transparent;
    border: 1px solid #F65364;
    color: #F65364 !important;
    border-radius: 3px;
    font-weight: 600;
}
.btn_outline:hover{
	background: #F65364;
	color: #fff !important;
	transition: 0.5s;
}
.btn_outline_lg{
	font-size: 18px !important;
    padding: 12px 24px;
    border-radius: 3px;
}
.btn_outline_md{
	font-size: 14px !important;
    padding: 12px 16px;
    border-radius: 3px;
}
.btn_outline_sm{
    font-size: 12px !important;
    padding: 12px 16px;
    border-radius: 3px;
}

.btn_info{
	background: #fff;
    color: #F65364 !important;
    border-color: #fff;
    border-radius: 3px;
    font-weight: 600;
}
.btn_info:hover{
	background: #F65364;
	transition: 0.5s;
	color: #fff !important;
}


.btn_center{
	display: block;
	margin: auto;
}

.section_gap{
	padding: 100px 0;
}

.header_btns{
	display: flex;
	gap: 15px;
}
.header_btns .btn{
	padding: 7px 46px;
}


.showcase_sec{
	background: radial-gradient(circle, #fbc8c8 0%, #ffffff 100%);
	padding: 50px 0;
}
.header_sec {
    background: #fff;
    border-radius: 20px;
    padding: 10px 30px;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
}

.header_sec .navbar-expand-lg .navbar-nav .nav-link {
    font-size: 18px;
    font-weight: 600;
    color: #404040;
}

.header_sec .navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: #F65364;
}

.header_sec nav .navbar-nav{
	gap: 30px;
	align-items: center;
}

.showcase_sec_content {
    width: 818px;
    display: flex;
    margin: 80px auto;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}
.showcase_sec_content h1{
	text-align: center;
}
.showcase_sec_content h5{
	text-align: center;
	width: 70%;
}

.showcase_btns{
	display: flex;
	gap: 15px;
	margin-top: 15px;
}
.showcase_btns .btn{
	padding: 10px 46px;
}



.img_carousel_sec {
  margin-top: -90px;
  position: relative;
}

.img_carousel_sec .nav-container {
  padding: 20px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.img_carousel_sec .nav-link {
  color: #333;
  text-decoration: none;
  font-weight: 600;
  padding: 8px 16px;
  border-radius: 8px;
}

.img_carousel_sec .nav-link.active {
  background: #ff4d6d;
  color: white !important;
}

.img_carousel_sec .slider-container {
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  display: flex;
  padding: 60px 10vw;
  gap: 40px;
  scroll-behavior: smooth;
}

.img_carousel_sec .slider-container::-webkit-scrollbar {
  display: none;
}

.img_carousel_sec .slide {
  flex: 0 0 45vw;
  scroll-snap-align: center;
}

.img_carousel_sec .slide img {
  width: 100%;
  height: auto;
  border-radius: 24px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.15);
  transition: transform 0.3s ease;
}

.img_carousel_sec .slide:hover img {
  transform: scale(1.03);
}

/* Arrow buttons */
.img_carousel_sec .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #ff4d6d;
    color: #fff;
    border: none;
    font-size: 24px;
    border-radius: 100%;
    cursor: pointer;
    z-index: 20;
    height: 40px;
    width: 40px;
}

.img_carousel_sec .arrow.left {
  left: 20px;
}

.img_carousel_sec .arrow.right {
  right: 20px;
}

.img_carousel_sec .arrow:hover {
  background: #e43b5b;
}


.why_choose_sec{
	background: #F9F9F9;
}

.why_choose_card_sec .card{
	flex-direction: row;
    align-items: center;
    padding: 15px 20px;
    border-radius: 15px;
    border: unset;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
    gap: 30px;
}

.why_choose_card_sec{
	display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 50px;
}

.manage_sec_heading{
	text-align: center;
}
.manage_sec_heading p{
	color: #404040;
	margin-top: 10px;
}

.manage_left_right_sec{
	margin-top: 100px;
}
.manage_left_right_sec .row{
	align-items: center;
}
.manage_left_right_sec .row .col-lg-4 img{
	border-radius: 20px;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
}

.manage_left_right_sec_content{
	display: flex;
	flex-direction: column;
	gap: 15px;
}
.left_color_row{
	padding: 40px 0;
	box-shadow: inset 300px 0 0px #181D3D;
}  
.right_color_row{
	padding: 40px 0;
	box-shadow: inset -300px 0 0px #F65364;
}

.plans_sec{
	background: #F9F9F9;
}

.pricing_sec{
	margin-top: 100px;
}
.pricing_sec .card{
	padding: 30px 40px;
	border: unset;
	background: #181D3D;
}

.price_box{
	background: #fff;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-top: -80px;
    color: #181D3D;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
}

.pricing_sec .card ul li {
    color: #fff;
    text-align: center;
    line-height: 40px;
    font-weight: 600;
    font-size: 20px;
}

.pricing_sec .card ul{
	margin-top: 40px;
	margin-bottom: 100px;
}

.btn_trial {
    background: #ffffff;
    color: #181D3D;
    border-color: #ffffff;
    border-radius: 3px;
    font-weight: 600;
    display: flex;
    margin: auto;
}
.btn_trial:hover{
	background: #ffffff;
    color: #181D3D;
}

.bg_secondary{
	background: #F65364 !important;
}

.cta-section {
      background-color: #0c0c3e;
      color: white;
    }

    .cta-image {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    .cta-text {
      padding: 60px 40px;
    }

    .cta-text p {
      font-size: 16px;
      line-height: 1.7;
      margin-top: 20px;
      color: #fff;
    }

    .cta-buttons .btn {
      padding: 10px 24px;
      font-weight: 500;
      border-radius: 6px;
      margin-right: 12px;
      margin-top: 20px;
    }

    .btn-pink {
      background-color: #f2546d;
      color: white;
      border: none;
    }

    .btn-outline-light {
      border: 2px solid #fff;
      color: white;
      background-color: transparent;
    }

    @media (max-width: 767px) {
      .cta-text {
        padding: 30px 20px;
        text-align: center;
      }
    }

    .footer {
      background-color: #000;
      color: #fff;
      padding: 60px 40px 30px;
    }

    .footer h5 {
      color: #f2546d;
      margin-bottom: 20px;
      font-weight: 600;
    }

    .footer p, .footer a {
      color: #fff;
      font-size: 15px;
      text-decoration: none;
    }

    .footer a:hover {
      color: #fff;
      text-decoration: underline;
    }

    .footer .logo-text {
      font-size: 22px;
      font-weight: 600;
      margin-left: 10px;
      color: #fff;
    }

    .footer .logo-text span {
      color: #f2546d;
    }

    .footer .footer-bottom {
      border-top: 1px solid #333;
      padding-top: 15px;
      margin-top: 30px;
      text-align: center;
      font-size: 14px;
      color: #fff;
    }

    .footer i {
      width: 25px;
    }




@media (max-width: 767px){
	h1{
    font-size: 32px;
  }

  h2{
    font-size: 28px;
  }

  h3{
    font-size: 22px;
  }

  h4{
    font-size: 20px;
  }

  h5{
    font-size: 18px;  }

  h6{
    font-size: 16px;
  }

  p{
    font-size: 14px;
  }
  .showcase_sec_content{
  		width: 100%;
  }
  .img_carousel_sec .nav-container{
  		flex-direction: column;
  }
  .section_gap {
    	padding: 60px 0;
	}
	.left_color_row , .right_color_row{
		box-shadow: unset;
	}
	.right_color_row .row{
		flex-direction: column-reverse;
	}
	.manage_left_right_sec .row{
		gap: 30px;
	}
	.pricing_sec .row{
		gap: 100px;
	}
  .img_carousel_sec .slide {
    flex: 0 0 65vw;
    scroll-snap-align: center;
  }
  .img_carousel_sec .arrow{
    top:80%
  }
}    

@media (min-width: 768px) and (max-width: 992px){
	.showcase_sec_content{
  		width: 100%;
  }
  .left_color_row , .right_color_row{
		box-shadow: unset;
	}
	.right_color_row .row{
		flex-direction: column-reverse;
	}
	.manage_left_right_sec .row{
		gap: 30px;
	}
	.pricing_sec .row{
		gap: 100px;
	}
  .img_carousel_sec .arrow{
    top:60%;
  }
}